<h1><%= @client.name() %></h1>

<h3>Select the stylists for this client:</h3>

<% if @stylists.any?() %>
  <form action="/clients/<%= @client.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @stylists.each() do |stylist| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="stylist_ids[]" value="<%= stylist.id() %>"><%= stylist.title() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add stylists</button>
  </form>
<% end %>

<% if @client.stylists().any?() %>

  <h3>Here are all the stylists for this client:</h3>

  <ul>
    <% @client.stylists().each() do |stylist| %>
      <li><%= stylist.title() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists yet! <a class ="green" href="/stylists">Add stylists here</a></p>
<% end %>


<a class ="green" href="/">Return to Main Page</a>
